<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6" style="background-color: yellow">
            <p>OKINAWA</p>
        </div>
        <div class="col-lg-6" style="background-color: pink">
            <p>TOKYO</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">123123</div>
        <div class="col-lg-4">asccc</div>
        <div class="col-lg-4">a</div>
    </div>
    <div class="row">
        <div class="col-lg-4">123123</div>
        <div class="col-lg-4">asccc</div>
        <div class="col-lg-4">a</div>
    </div>
    
</div>

  